@import "./../scss/config";

#signup_page {
  display: flex;
  background-color: black;
  color: white;
  padding-top: 100px;
  justify-content: space-around;
  //   align-items: center;
  //   align-self: left;
  padding: 100px 50px 20px 20px;

  h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1rem;
  }

  #signup_text_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    width: 40%;
    padding: 40px;
    text-align: left4;

    /* Media query for smaller screens */
    @media (max-width: 768px) {
      h1 {
        font-size: 2.5rem; /* Decrease font size for smaller screens */
      }
    }

    #partners {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
      p {
        font-size: 0.7rem;
        font-weight: 700;
        text-align: left;
        margin-bottom: 1rem;
        color: #f57f10;
      }
    }
  }

  #signup_card {
    background-color: white;
    color: black;
    width: 40%;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    #signup_params {
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      #logo {
        width: 30px;
        height: auto;
        margin-bottom: 1rem;
        // background-color: red;
      }
      & h2 {
        margin-top: 0;
        padding-top: 0;
        // // background-color: red;
        // color: red;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      & p {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;

        a {
          color: #f57f10;
          text-decoration: none;
          font-weight: 700;
        }
      }
      #google_signup {
        display: flex;
        background-color: blue;
        align-items: center;
        border-radius: 10px;
        width: 100%;
        height: 40px;
        #img_cont {
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          background-color: #fff;
          margin-left: 1px;
          margin-right: 5px;
          width: 40px;
          height: 90%;
          #logo {
            height: auto;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
          }
        }

        & p {
          margin: 0;
          color: white;
          font-size: 1rem;
          font-weight: 700;
          //   background-color: blue;
        }
      }
      #github_signup {
        display: flex;
        background-color: blue;
        align-items: center;
        border-radius: 10px;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        #img_cont {
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          background-color: #fff;
          margin-left: 1px;
          margin-right: 5px;
          width: 40px;
          height: 90%;
          #logo {
            height: auto;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
          }
        }

        & p {
          margin: 0;
          color: white;
          font-size: 1rem;
          font-weight: 700;
          //   background-color: blue;
        }
      }
      #email_option {
        display: flex;
        width: 100%;
        margin-top: 20px;
        align-content: center;
        justify-items: center;
        // background-color: green;

        div {
          width: 30%;
          height: 1px;
          background-color: black;
          margin: 5px;
        }
        & p {
          width: 50%;
          color: grey;
        }
      }
    }
    #signup_form {
      label {
        font-size: rem;
        font-weight: 700;
        padding-bottom: 10px;
      }
    }
    input[type="text"],
    input[type="password"],
    button {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      outline: none;
      margin-top: 5px;
    }

    button {
      background-color: #898e94;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 20px;
    }

    button:hover {
      background-color: #0056b3;
    }

    p {
      margin: 0;
    }
  }
  #signup_error {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(66, 124, 212);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
  }
}
